<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
<header th:replace="plantillas/plantilla :: header"></header>
<main>
    <div class="container text-center">
        <h1 th:text="${contenido}"></h1>
        <div class="container text-center">
            <br/> <img th:src="@{/imagen/logo.png}" height="500" width="500"/>
            <p>Libreria</p>
        </div>
    </div>
</main>
<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>