<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<body>
<script type="text/javascript" th:fragment="jshabitacion">
    function llamada(dato) {
        $.ajax({
            url: "/reservacion/buscar-habitacion/"+dato,
            dataType: "json",
            success:function(response){
                var len = response.length;
                $("#habitacion").empty();
                for( var i = 0; i<len; i++){
                    var id = response[i]['id_hbt'];
                    var name ="nombre: " + response[i]['nombre']+" precio: "+response[i]['precio'];
                    $("#habitacion").append("<option value='"+id+"'>"+name+"</option>");

                }
            }
        });
    }


</script>
</body>
</html>