<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDoeRJLrbcF5vqAsqJLyKg6S+mj2JCegn" crossorigin="anonymous">
<body>
<nav class="navbar navbar-dark bg-dark p-4">
    <a class="navbar-brand" th:href="@{/principal}" style="font-size: 24px;">Libreria</a>

    <form class="form-inline navbar navbar-expand bg-dark" th:action="@{/principal}">
        <input style="width: 300px; font-size: 16px;" type="text" class="form-control mr-sm-2" id="titulo" name="titulo" placeholder="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size: 16px;">Buscar</button>
    </form>

    <button class="btn btn-primary ml-2" type="button" style="font-size: 20px;">
        <i class="fas fa-shopping-cart"></i>
    </button>
</nav>




<div class="container">


    <div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img th:src="@{'/imagenes/'+${libro.imagenPortada}}" th:alt="${libro.titulo}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 th:text="${libro.titulo}"></h2>
                <p th:text="${libro.descripcion}"></p>

                <p><strong>ISBN:</strong> <span th:text="${libro.isbn}"></span></p>
                <p><strong>Editorial:</strong> <span th:text="${libro.editorial.nombre}"></span></p>
                <p><strong>Idioma:</strong> <span th:text="${libro.idioma.nombre}"></span></p>
                <p><strong>Año Publicación:</strong> <span th:text="${libro.anioPublicacion}"></span></p>
                <p><strong>Edicion:</strong> <span th:text="${libro.edicion}"></span></p>
                <p><strong>Número de paginas:</strong> <span th:text="${libro.numeroPaginas}"></span></p>
                <p><strong>Precio:</strong> <span th:text="${libro.precio}"></span></p>
                <a th:href="@{/detalles-libro-agregar/{isbn}(isbn=${libro.isbn})}" class="btn btn-primary">Agregar al carrito</a>

                <form th:action="@{/calificar-libro/{isbn}(isbn=${libro.isbn})}" method="post" class="d-flex">
                    <div class="form-group mt-3 mr-2">
                        <label for="calificacion">Calificación:</label>
                        <select class="form-control" id="calificacion" name="calificacion">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary align-self-end">Calificar</button>
                </form>
            </div>
        </div>

    </div>





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<footer th:replace="plantillas/plantilla :: footer"></footer>

<!--<script type="text/javascript" th:fragment="jslibro"></script>-->

</body>
</html>

