<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="plantillas/plantilla :: head"></head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDoeRJLrbcF5vqAsqJLyKg6S+mj2JCegn" crossorigin="anonymous">

<body>

<nav class="navbar navbar-dark bg-dark p-4">
    <a class="navbar-brand" th:href="@{/principal}" style="font-size: 24px;">Libreria</a>

    <form class="form-inline navbar navbar-expand bg-dark">
        <input style="width: 300px; font-size: 16px;" type="text" class="form-control mr-sm-2" id="titulo" name="titulo" placeholder="Buscar" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size: 16px;">Buscar</button>
    </form>

    <!-- Div para los iconos -->
    <div class="ml-auto d-flex align-items-center">
        <!-- Icono de cuenta -->
        <a th:href="@{/user/inicio-user}" class="text-light mr-2" style="font-size: 28px; margin-right: 10px">
            <i class="fas fa-user-circle"></i>
        </a>

        <!-- Icono de carrito -->
        <a th:href="@{/carrito}">
            <button class="btn btn-primary" type="button" style="font-size: 20px;">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </a>
    </div>

</nav>

<div class="container">
    <main class="container text-center">
        <h1>Crear cuenta</h1>
        <div class="card">
            <h4 class="card-header"><strong>Formulario de registro</strong></h4>
            <div class="card-body">
                <form th:action="@{/user/alta-usuario}" th:object="${usuario}"
                      method="post">
                    <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
                        Verifique los siguientes errores
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control"
                                       id="nombre" name="nombre"
                                       placeholder="Nombre del Usuario"
                                       th:field="*{nombre}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellidoPaterno">Apellido Paterno</label>
                                <input type="text" class="form-control"
                                       id="apellidoPaterno" name="apellidoPaterno"
                                       th:field="*{apellidoPaterno}"
                                       placeholder="Apellido Paterno" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellidoMaterno">Apellido Materno</label>
                                <input type="text" class="form-control"
                                       id="apellidoMaterno" name="apellidoMaterno"
                                       th:field="*{apellidoMaterno}"
                                       placeholder="Apellido Materno (Opcional)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input type="text" class="form-control"
                                       id="correo" name="correo"
                                       th:field="*{correo}"
                                       placeholder="Correo" required>
                            </div>
                        </div>
<!--
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="constrania">Contraseña</label>
                                <input type="password" class="form-control"
                                       id="constrania" name="constrania"
                                       th:field="*{constrasena}"
                                       placeholder="Contraseña" required>
                            </div>
                        </div>


-->


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="constrania">Contraseña</label>
                                <input type="password" class="form-control"
                                       id="constrania" name="constrania"
                                       th:field="*{constrasena}"
                                       placeholder="Contraseña" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="confirmarContrasena">Confirmar Contraseña</label>
                                <input type="password" class="form-control"
                                       id="confirmarContrasena" name="confirmarContrasena"
                                       placeholder="Confirmar Contraseña" required>
                                <small class="text-danger" id="passwordError"></small>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <br/>
                            <button type="submit" class="btn btn-primary" id="guardarButton">Guardar</button>
                        </div>


                    </div>
                    <input type="hidden" name="id_cte" th:field="*{id}"/>
                </form>
            </div>
        </div>
    </main>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var contrasenaInput = document.getElementById("constrania");
        var confirmarContrasenaInput = document.getElementById("confirmarContrasena");
        var passwordError = document.getElementById("passwordError");
        var guardarButton = document.getElementById("guardarButton");

        function validarContrasenas() {
            if (contrasenaInput.value !== confirmarContrasenaInput.value) {
                passwordError.textContent = "Las contraseñas no coinciden";
                guardarButton.disabled = true;
                return false;
            } else {
                passwordError.textContent = "";
                guardarButton.disabled = false;
                return true;
            }
        }

        contrasenaInput.addEventListener("input", validarContrasenas);
        confirmarContrasenaInput.addEventListener("input", validarContrasenas);
    });
</script>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<footer th:replace="plantillas/plantilla :: footer"></footer>

</body>

</html>
